[submodule "Windows/Get-ZimmermanTools"]
	path = Windows/Get-ZimmermanTools
	url = https://github.com/EricZimmerman/Get-ZimmermanTools
[submodule "Forensics/Volatility3"]
	path = Forensics/Volatility3
	url = https://github.com/volatilityfoundation/volatility3.git
[submodule "Forensics/Volatility"]
	path = Forensics/Volatility
	url = https://github.com/volatilityfoundation/volatility
[submodule "Malware/Other/mal_unpack"]
	path = Malware/Other/mal_unpack
	url = https://github.com/hasherezade/mal_unpack.git
[submodule "Malware/Noriben"]
	path = Malware/Noriben
	url = https://github.com/Rurik/Noriben
[submodule "Forensics/BMC-Tools"]
	path = Forensics/BMC-Tools
	url = https://github.com/ANSSI-FR/bmc-tools
[submodule "Forensics/RDPCacheStitcher"]
	path = Forensics/RDPCacheStitcher
	url = https://github.com/BSI-Bund/RdpCacheStitcher
[submodule "Forensics/Scalpel"]
	path = Forensics/Scalpel
	url = https://github.com/sleuthkit/scalpel
[submodule "Forensics/StegCracker"]
	path = Forensics/StegCracker
	url = https://github.com/Paradoxis/StegCracker
[submodule "Forensics/DeepBlueCLI"]
	path = Forensics/DeepBlueCLI
	url = https://github.com/sans-blue-team/DeepBlueCLI
